# Python

**pycache**/
*.py[cod]
*.pyo

# Virtual Environment

venv/
.env

# Django

db.sqlite3
media/
staticfiles/

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db

# Logs

*.log

# Build

dist/
build/

# Generated images
tools/grayscale/media/

tools/static/gray/
tools/static/resize/
tools/static/rotate/
tools/static/compress/
tools/static/crop/
tools/static/blur/
tools/static/brightness/
tools/static/contrast/
tools/static/converted/
tools/static/watermark/

# Generated Tool Outputs

tools/static/gray/*
tools/static/resize/*
tools/static/rotate/*
tools/static/compress/*
tools/static/crop/*
tools/static/blur/*
tools/static/brightness/*
tools/static/contrast/*
tools/static/converted/*
tools/static/watermark/*

# Keep folders in git

!tools/static/gray/.gitkeep
!tools/static/resize/.gitkeep
!tools/static/rotate/.gitkeep
!tools/static/compress/.gitkeep
!tools/static/crop/.gitkeep
!tools/static/blur/.gitkeep
!tools/static/brightness/.gitkeep
!tools/static/contrast/.gitkeep
!tools/static/converted/.gitkeep
!tools/static/watermark/.gitkeep
